_ROOT = $PROJECT_DIR/..

_SIBLING_ROOT = $_ROOT/..

_APL_DIR = $_SIBLING_ROOT/adobe_platform_libraries
_APP_INCLUDE_DIR = $_ROOT
_ASL_DIR = $_SIBLING_ROOT/adobe_source_libraries
_BOOST_DIR = $_SIBLING_ROOT/boost_libraries
_DBLCONV_DIR = $_SIBLING_ROOT/
_STLAB_DIR = $_SIBLING_ROOT/stlab

ARCHS = $(ARCHS_STANDARD)
CLANG_CXX_LANGUAGE_STANDARD = c++14
CLANG_CXX_LIBRARY = libc++
CLANG_STATIC_ANALYZER_MODE = deep
CLANG_STATIC_ANALYZER_MODE_ON_ANALYZE_ACTION = deep
CLANG_WARN_SUSPICIOUS_MOVE=YES
DEAD_CODE_STRIPPING = YES
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
GCC_C_LANGUAGE_STANDARD = c99
GCC_TREAT_WARNINGS_AS_ERRORS = YES
GCC_UNROLL_LOOPS = YES
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_NON_VIRTUAL_DESTRUCTOR=YES
HEADER_SEARCH_PATHS = $_APP_INCLUDE_DIR $_BOOST_DIR $_ASL_DIR $_APL_DIR $_DBLCONV_DIR $_STLAB_DIR
MACH_O_TYPE = mh_execute
PRESERVE_DEAD_CODE_INITS_AND_TERMS = YES
PRODUCT_NAME = binspector
SDKROOT = macosx
SYMROOT = ../../built_artifacts

GCC_OPTIMIZATION_LEVEL_Debug = 0
GCC_OPTIMIZATION_LEVEL_Release = fast
GCC_OPTIMIZATION_LEVEL = $(GCC_OPTIMIZATION_LEVEL_$(CONFIGURATION))

GCC_PREPROCESSOR_DEFINITIONS_Debug = ADOBE_STD_SERIALIZATION=1
GCC_PREPROCESSOR_DEFINITIONS_Release = ADOBE_STD_SERIALIZATION=1 NDEBUG=1
GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS_$(CONFIGURATION))

LLVM_LTO_Debug = NO
LLVM_LTO_Release = YES
LLVM_LTO = $(LLVM_LTO_$(CONFIGURATION))

RUN_CLANG_STATIC_ANALYZER_Debug = NO
RUN_CLANG_STATIC_ANALYZER_Release = YES
RUN_CLANG_STATIC_ANALYZER = $(RUN_CLANG_STATIC_ANALYZER_$(CONFIGURATION))
