ROOT = $PROJECT_DIR/..
OPENSOURCE_ROOT = $ROOT/..
BOOST_DIR = $OPENSOURCE_ROOT/boost_libraries
ASL_DIR = $OPENSOURCE_ROOT/adobe_source_libraries
APL_DIR = $OPENSOURCE_ROOT/adobe_platform_libraries
DBLCONV_DIR = $OPENSOURCE_ROOT/
STLAB_DIR = $OPENSOURCE_ROOT/stlab
APP_INCLUDE_DIR = $ROOT

ARCHS = $(ARCHS_STANDARD)
CLANG_CXX_LANGUAGE_STANDARD = c++14
CLANG_CXX_LIBRARY = libc++
DEAD_CODE_STRIPPING = YES
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
GCC_AUTO_VECTORIZATION = YES
GCC_C_LANGUAGE_STANDARD = c99
GCC_ENABLE_SSE3_EXTENSIONS = YES
GCC_ENABLE_SSE41_EXTENSIONS = YES
GCC_ENABLE_SSE42_EXTENSIONS = YES
GCC_ENABLE_SUPPLEMENTAL_SSE3_INSTRUCTIONS = YES
GCC_PREPROCESSOR_DEFINITIONS = ADOBE_STD_SERIALIZATION=1
GCC_TREAT_WARNINGS_AS_ERRORS = YES
GCC_UNROLL_LOOPS = YES
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
GCC_WARN_ABOUT_RETURN_TYPE = YES
HEADER_SEARCH_PATHS = $APP_INCLUDE_DIR $BOOST_DIR $ASL_DIR $APL_DIR $DBLCONV_DIR $STLAB_DIR
MACH_O_TYPE = mh_execute
PREBINDING = NO
PRESERVE_DEAD_CODE_INITS_AND_TERMS = YES
PRODUCT_NAME = binspector
SDKROOT = macosx
SYMROOT = ../../built_artifacts

GCC_OPTIMIZATION_LEVEL_Debug = 0
GCC_OPTIMIZATION_LEVEL_Release = fast
GCC_OPTIMIZATION_LEVEL = $(GCC_OPTIMIZATION_LEVEL_$(CONFIGURATION))
